:root {
  --background-color: #000;
  --foreground-color: #fff;
  --border-color: #6fec32;
  --font-raleway: "Raleway", sans-serif;
  --shadowX-size: 0;
  --shadowY-size: 0;
  --shadowBlur-size: 0;
  --borderWidth-size: 0;
  --shadow-color: rgba(0, 0, 0, 0.4);
  --font-size: 40px;
  --height-editboard: 50vh;
  --content-text: "";
  --display-text: none;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-weight: 600;
  transition: 0.2s ease all;
}

body {
  height: 100vh;
  width: 100%;
  user-select: none;
  word-break: break-all;
  font-family: var(--font-raleway);
  background: linear-gradient(to left, #78bae3 0%, #ffffff 53%);
  background-position: cover;

}

a {
  text-decoration: none;
  display: inline-flex;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem;
}

.github-logo {
  height: 40px;
  width: 40px;
}
.workspace {
  /* height: 190vh;
  display: grid;
  grid-template-columns: 2fr 1fr; */

  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

/* ******Editor section******** */

.editor {
  /* padding: 1rem; */
  position: sticky;
  top: 0;
  display: inline-flex;
  flex-grow: 1;
  z-index: 100;
}

#editBoard {
  position: sticky;
  background-color: var(--background-color);
  color: var(--foreground-color);
  border: var(--borderWidth-size) solid var(--border-color);
  top: 1rem;
  margin: 1rem;
  height: var(--height-editboard);
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* This will allow us to edit the input text */
[contenteditable="true"]:empty:before {
  display: block;
  content: attr(aria-placeholder);
  opacity: 0.5;
}

.text {
  font-size: var(--font-size);
  text-shadow: var(--shadowX-size) var(--shadowY-size) var(--shadowBlur-size)
    var(--shadow-color);
  line-height: 2.5rem;
  padding: 1rem;

  font-family: "Raleway";
}

/* *******Controls section********* */

.controls {
  margin: 1rem;
}

.color {
  width: 40px;
  height: 40px;
  border: 2px solid rgba(255, 255, 255, 0.87);
  border-radius: 50%;
  cursor: pointer;
}

#background {
  background: var(--background-color);
}

#foreground {
  background: var(--foreground-color);
}

#border {
  background: var(--border-color);
}

#shadow {
  background: var(--shadow-color);
}

.actions {
  display: flex;
  padding: 0.2rem;

}
.action-buttons {
  /* margin: 1.5rem; */
  margin: 0.5rem;
  padding: 0.4rem;
  cursor: pointer;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  transition: 0.5s ease all;
  position: relative;

}

.action-buttons:hover {
  background: rgba(0, 0, 0, 0.3);
}
.action-buttons img {
  width: 70px;
  height: 70px;
}

.fontNameDisplay:before {
  position: absolute;
  content: var(--content-text);
  top: -35px;
  left: -20px;
  width: 120px;
  height: 30px;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  display: var(--display-text);
}

button {
  color: white;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(195, 195, 195);
  padding: 0.9rem;
  margin: 0.3rem 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease all;
  font-size: 1.2rem;
}

button:hover {
  background-color: #90d5ec;
  background-image: linear-gradient(315deg, #90d5ec 0%, #fc575e 74%);
  border: 2px solid rgb(0, 0, 0);
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  flex-grow: 1;
}

.rows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  text-align: center;
  background: black;
  border-radius: 10px;
}

.tab {
  padding: 0.3rem;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.current {
  background-color: #90d5ec;
  background-image: linear-gradient(315deg, #90d5ec 0%, #fc575e 74%);
  border-radius: 10px;
}

input {
  background: black;
  color: white;
  border-radius: 10px;
}

input[type="number"] {
  padding: 5px;
  height: 40px;
  width: 50px;
  font-size: 1rem;
  border: none;
}

/*******refer: inline-flex -> https://stackoverflow.com/questions/27418104/whats-the-difference-between-displayinline-flex-and-displayflex */
/* inline-flex makes the container/parent element inline */
input[type="file"] {
  display: inline-flex;
  width: 80px;
  height: 40px;
  cursor: pointer;
}

input[type="file"]:before {
  content: "upload";
  line-height: 2.5;
  text-align: center;
  font-size: 1rem;
}

input[type="file"]:hover:before {
  background-color: #90d5ec;
  background-image: linear-gradient(315deg, #90d5ec 0%, #fc575e 74%);
}

input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

.resetbg {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  display: none;
}

.resetbg:hover {
  background: #eee;
  border: 2px solid black;
}

/* default is 900 okay ? */
@media (max-width: 900px) {
  .actions{
    justify-content: space-evenly;
  }
  
  .workspace {
    flex-direction: column;
  }

  .action-buttons {
    background: rgba(192, 192, 192, 0.719);
  }
}
